@tailwind base;
@tailwind components;
@tailwind utilities;


/* debug background gradient later, conflicting with tailwind styles */
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 38, 38, 38;
  --background-end-rgb: 23, 23, 23;
} */
/* set to prefers-color-scheme: dark to make it follow user system settings */
/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 23, 23, 23;
    --background-start-rgb: 245, 245, 235;
    --background-end-rgb: 240, 240, 235;
  }
} */

/* Applies a gradient to the dark mode color */
/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
